:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --semitransparent-white-color: rgba(255, 255, 255, 0.6);
  --bg-darl-color: #2f303a;
  --bg-light-color: #f5f4fa;
  --button-color: #2196f3;
  --button-main-color: #188ce8;
  --button-sec-color: #f5f4fa;
  --icon-color: #afb1b8;
  --footer-icon-background-color: rgba(255, 255, 255, 0.1);
  --section-background-color: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.5);
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Header styles*/
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  margin-left: 93px;
}
.contacts {
  display: flex;
  margin-left: auto;
}
.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--title-text-color);
}
.logo-footer {
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.logo-first-part {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}
.contacts-h-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-h-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}
.nav-link,
.contacts-h-link {
  position: relative;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.nav-link:hover,
.nav-link:focus,
.contacts-h-link:hover,
.contacts-h-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}
.nav-link.current::after {
  display: inline-block;
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-h-link {
  display: flex;
  align-items: center;
}

/* Hero section */

.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background.jpg);
  background-position: center;
  background-color: black; /* резервный фон */
}

.page-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
.btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.main-button {
  display: inline-block;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.main-button:hover,
.main-button:focus {
  background-color: var(--button-main-color);
}
/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  z-index: 2;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 581px;
  width: 528px;
  background-color: var(--primary-white-color);
}
/* Features section */

.features-list {
  display: flex;
}
.features-card {
  width: calc((100%-30px * 3) / 4);
  margin-right: 30px;
}
.features-card:nth-child(4n) {
  margin-right: 0;
}

.features-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.features-subtitle {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-desc {
  font-size: 14px;
  line-height: 1.71;
}
/* What we do section */
.what-we-do-section {
  padding-top: 0;
}
.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.what-we-do-list {
  display: flex;
}
.what-we-do-item {
  position: relative;
  text-align: center;
  z-index: 1;
}
.what-we-do-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.what-we-do-img {
  display: block;
}
.what-we-do-label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  overflow: hidden;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--section-background-color);
}

/* Our team section */
.our-team-section {
  background-color: var(--bg-light-color);
}
.our-team-list {
  display: flex;
}
.our-team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.team-text {
  padding: 30px 32px;
  background-color: var(--primary-white-color);
}
.team-socials {
  display: flex;
  margin-top: 16px;
}
.team-socials-item:not(:last-child) {
  margin-right: 10px;
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
}
.team-social-link:hover,
.team-social-link:focus {
  color: var(--primary-white-color);
  background-color: var(--button-color);
}
.team-social-ico {
  fill: currentColor;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}
.team-desc {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Clients section styles */
.clients-list {
  display: flex;
}
.client-card:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 95px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
}
.client-link:hover,
.client-link:focus {
  border: 1px solid var(--button-color);
  color: var(--button-color);
}
.client-icon {
  fill: currentColor;
}

/* Footer styles */
.footer {
  background-color: var(--bg-darl-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-box:first-child {
  margin-right: 70px;
}
.contacts-f {
  font-size: 14px;
  line-height: 1.71;
  color: var(--semitransparent-white-color);
}
.address-link {
  color: var(--primary-white-color);
}
.footer-address {
  font-style: normal;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-social-call {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.footer-social-list {
  display: flex;
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: var(--footer-icon-background-color);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.footer-social-icon {
  fill: currentColor;
}
/* ------------------Portfolio PAGE------------------*/

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portf-button:not(:last-child) {
  margin-right: 8px;
}
.portf-button-link {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--bg-light-color);
}

.portf-button-link:focus,
.portf-button-link:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Cards */

.portf-card:hover,
.portf-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portf-card:hover .card-label {
  opacity: 1;
}
.portf-card:hover ::before {
  opacity: 1;
}
.portf-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portf-card {
  width: calc(100% - 60px) / 3;
  margin: 15px;
}
.card-thumb {
  position: relative;
}
.card-thumb::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.card-img {
  display: block;
}
.card-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  opacity: 0;
}
.card-text {
  padding: 20px 24px;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.card-desc {
  font-size: 16px;
  line-height: 1.87;
}
